@import "layout/var";

.slide-1 {
    padding-top: 195px;

    @media (max-width: 1199px){
        padding-top: 100px;
    }

    @media (max-width: 991px){
        padding-top: 42px;
    }

    &__cube {
        margin: 0 auto 22px auto;
        width: 17px;
        height: 17px;
        border-radius: 3px;
        background: #fff;
        transform-origin: center;
        transform: rotate(45deg);
    }

    &__text {
        color: #fff;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: 767px){
            font-size: 18px;
        }

        span {
            display: block;
            color: $pink;
            font-weight: $b;
        }
    }
}