@import "layout/var";

.categories {
    width: calc(100% + 3px);
    position: relative;
    left: -1.5px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 1.5px;
        width: 25%;

        @media (max-width: 991px){
            width: 50%;
        }

        @media (max-width: 767px){
            width: 100%;
        }
    }
}