@import "layout/var";

.about {
    padding: 140px 0 180px;

    @media (max-width: 1199px){
        padding: 100px 0 140px;
    }

    @media (max-width: 991px){
        padding: 65px 0 80px;
    }
}