@import "layout/var";

.about-flex {
    display: flex;
    align-items: center;

    @media (max-width: 991px){
        align-items: flex-start;
    }

    @media (max-width: 767px){
        display: block;
    }

    &__left {
        flex-shrink: 0;
        width: 275px;

        @media (max-width: 767px){
            margin: 0 auto 30px auto;
            width: 290px;
        }
    }

    &__right {
        padding-left: 100px;
        width: 100%;

        @media (max-width: 991px){
            padding-left: 28px;
        }

        @media (max-width: 767px){
            padding-left: 0;
        }
    }

    &__photo {
        height: 410px;
        background-position: center;
        background-size: cover;
        margin-bottom: 44px;
    }

    &__photo-descr {
        font-size: 14px;
        color: #444444;
    }

    &__cube {
        width: 19px;
        height: 19px;
        border-radius: 3px;
        border: 1px solid #000;
        transform-origin: center;
        transform: rotate(45deg);
        margin-bottom: 24px;

        @media (max-width: 991px){
            margin: 0 auto 24px auto;
        }
    }

    &__sub-title {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 28px;

        @media (max-width: 991px){
            text-align: center;
        }
    }

    &__title {
        font-size: 32px;
        margin-bottom: 24px;
        text-transform: uppercase;
        color: $pink;
        font-weight: $b;
        line-height: 38px;

        @media (max-width: 991px){
            text-align: center;
            margin-bottom: 50px;
        }

        @media (max-width: 767px){
            font-size: 18px;
            line-height: normal;
        }
    }

    &__description {
        p {
            font-family: $lato;
            font-size: 14px;
            margin-bottom: 14px;
            color: #444444;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--sm-full-width {
        display: none;

        @media (max-width: 991px){
            display: flex;
        }

        .about-flex__left {
            @media (max-width: 991px){
                display: none;
            }
        }

        .about-flex__right {
            @media (max-width: 991px){
                width: 100%;
                padding-left: 0;
            }
        }
    }
}