@import "layout/var";

.header {
    position: relative;
    border-bottom: 1px solid $pink;

    &__contacts {
        background: $pink
    }

    &__nav {
        background: #000;

        @media (max-width: 991px){
            position: relative;
            z-index: 15;
        }
    }
}